/* Mobile First */

p,
a,
h1,
h2,
h3,
h4 {
    color: #FFF;
}

p{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Raleway-Regular";
    
    span {
        font-weight: bold;
    }
}

a {
    font-family: "Raleway-Regular";
}

h1, h2, h3, h4 {
    font-family: "Raleway-Bold";
} 

.inner {
    width:85%;
    margin:auto;
}

h2 {
    padding: 10px 0;
}

ul {
    list-style: none;
    padding-left: 0;

    li {
        width:100%;
        
        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

a:hover {
    color: #FFF;
    text-decoration: none;
}

/* Menu */
#button {
    font-size: 30px;
    position: fixed;
    z-index: 2;
    width: 30px;
    height: 30px;
    right:5px;
}

.menu-mobile {
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    position: fixed;
    z-index: 1;
    display: none;

    h1 {
        height: 24vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2em;
    }

    .main-nav {
        height: 56vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
        width: 80%;
        margin: auto;
        border-top: solid white 3px;
        border-bottom: solid white 3px;

        a {
            font-size: 1.6em;
        }
    }
}

    .social-nav {
        height: 20vh;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;


        li {
            width: 33%;
            align-self: center;

            a {
                font-size: 2em;
            }
        }

        p {
            align-self: flex-end;
            justify-self: center;
        }
    }


section {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px 0;
}

section#accueil {
    background-image: url(../img/bg/accueil.jpg);
}

section#apropos {
    background-image: url(../img/bg/apropos.jpg);
}

section#portfolio {
    background-image: url(../img/bg/portfolio.jpg);

    .categories {
        ul {
            display: flex;
            text-align: center
        }
    }

    .more {

        svg {
            width:40px;
            height: 40px;
            padding:5px;
            fill: #FFF;
            font-size: 24px;
            text-align: center;
            border: solid #FFF 2px;
            border-radius: 100%;
        }
    }

    .item { 
        h3 {
            padding: 5px 0;
        }
        width: 90%;
        margin: 10px auto;
        padding:10px;
        background-color: rgba(0, 0, 0, 0.3);
        .img-projet {
            display: none;
            .img {
            width:90%;
            margin:10px auto;
            }
        }
    }

}

section#mecontacter {
    background-color: rgb(31, 31, 31);
}

/* Portfolio */

/* tablet */
@media screen and (min-width: $small) {}

/* laptop */
@media screen and (min-width: $medium) {
    section {
        min-height: 100vh;
        max-height: 100vh;
    }
}

/* desktop || TV */
@media screen and (min-width: $large) {}