/* Mobile First */

p,
a,
h1,
h2,
h3,
h4,
h5 {
    color: #FFF;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Raleway-Regular";

    span {
        font-weight: bold;
    }
}

a {
    font-family: "Raleway-Regular";

    &:hover {
        font-family: "Raleway-Bold";
    }
}

h1,
h2,
h3,
h4 {
    font-family: "Raleway-Bold";
}

.inner {
    width: 85%;
    margin: auto;
}

h2 {
    padding: 10px 0;
}

ul {
    list-style: none;
    padding-left: 0;

    li {
        width: 100%;

        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

a:hover {
    color: #FFF;
    text-decoration: none;
}

/* Menu */
#button {
    font-size: 50px;
    position: fixed;
    z-index: 2;
    width: 50px;
    height: 50px;
    right: 5px;
}

.menu-desktop {
    display: none;
}

.menu-mobile {
    width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    position: fixed;
    z-index: 1;
    display: none;

    h1 {
        height: 24vh;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 2em;
    }

    .main-nav {
        height: 56vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        width: 80%;
        margin: auto;
        border-top: solid white 3px;
        border-bottom: solid white 3px;

        a {
            font-size: 1.6em;
        }
    }
}

.social-nav {
    height: 20vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;


    li {
        width: 33%;
        align-self: center;

        a {
            font-size: 2em;
        }
    }

    p {
        align-self: flex-end;
        justify-self: center;
    }
}


section {
    width: 100%;
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
    padding: 20px 0;
}

section#accueil {
    background-image: url(../img/bg/accueil.jpg);
}

section#apropos {
    background-image: url(../img/bg/apropos.jpg);
}

section#portfolio {
    background-image: url(../img/bg/portfolio.jpg);

    p {
        font-size: 1em;
    }

    .categories {
        ul {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 25px;

            li {
                text-align: center;

                a {
                    width: 100%;
                    padding: 10px 0;
                }
            }
        }
    }

    a {
        width: 70%;

        .item {
            padding: 10px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            border-radius: 5px;

            &:hover {
                background-color: rgba(0, 0, 0, 0.6);
            }
        }
    }
}

section#mecontacter {
    background-image: url(../img/bg/contact.jpg);


    form {
        margin-bottom: 24px;

        label {
            width: 100%;
            margin: 10px auto;

            input,
            textarea {
                width: 100%;
                border:none;
                border-radius: 5px;
                border-bottom: solid #FFF 3px;
                background: rgba(0, 0, 0, 0.3);
                color: #FFF;
            }

        }

        .submit {
            border-radius: 5px;
            display: block;
            margin: auto;
            border: solid #FFF 2px;
            background: rgba(0, 0, 0, 0.3);
            color: #FFF;
            cursor: pointer;
            width: 100%;
            padding: 10px 0px;
        }
    }
}

/* Portfolio */

section#projet {
    background-color: #2b2b2b;
    display: block;
    justify-content: initial;
    min-height: 100vh;
    &.developpement {
        background-image: url(../img/bg/developpement.jpg);
    }
    &.infographie {
        background-image: url(../img/bg/infographie.jpg); 
    }
    &.integration {
        background-image: url(../img/bg/integration.jpg); 
    }
    &.communication {
        background-image: url(../img/bg/communication.jpg); 
    }
    .inner {
        margin: auto;
        text-align: center;
        a {
            text-align: left
        }
        h1 {
            font-size: 3em;
            margin: 10px auto;
            padding-bottom: 15px;
            border-bottom: solid white 3px;
        }

        p {
            margin-top: 25px;
        }

        .project-img {
            width: 100%;
            margin: auto;
        }
    }
}


.mentionslegales {
    min-height: 100vh;
    background-color:#000;
}
/* tablet */
@media screen and (min-width: $small) {}

/* laptop */
@media screen and (min-width: $medium) {
    html {
        scroll-behavior: smooth;
    }

    #button {
        display: none;
    }

    .menu-desktop {
        display: block;
        width: 20%;
        border-right: 2px solid #FFF;
        min-height: 100vh;
        max-height: 100vh;
        text-align: center;
        position: fixed;
        z-index: 1;

        h1 {
            height: 20vh;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 2.5em;
        }

        .main-nav {
            height: 60vh;
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-direction: column;
            width: 80%;
            margin: auto;
            border-top: solid white 3px;
            border-bottom: solid white 3px;

            a {
                font-size: 1.6em;
            }
        }


        .social-nav {
            height: 20vh;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;


            li {
                width: 33%;
                align-self: center;

                a {
                    font-size: 2em;
                }
            }

            p {
                align-self: flex-end;
                justify-self: center;
            }
        }

    }

    section {
        min-height: 100vh;
        // max-height: 100vh;
        display: flex;
        justify-content: flex-end;
        background-position: left;


        .inner {
            width: 75% !important;
            margin: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                font-size: 4em;
            }

            p {
                font-size: 1.6em;
            }
        }

    }

    section#portfolio {
        .categories {
            ul {
                li {
                    width: 20%;
                    text-align: left;
                    font-size: 1.6em;
                }
            }
        }

        a {
            margin: 10px 0;
        }

    }

    section#mecontacter {
        .contact {
            display: flex;
            justify-content: space-between;

            form {
                width: 49%;

                .submit {
                    border-radius: 5px;
                    // border: none;
                    display: block;
                    margin: auto;
                    // background: #333333;
                    border: solid #FFF 2px;
                    background: rgba(0, 0, 0, 0.3);
                    color: #FFF;
                    cursor: pointer;
                    font-size: 1.5em;
                    width:100%;
                    padding: 10px 00px;
                }
            }

            div {
                width: 45%;
                align-self: center;
            }
        }
    }


    section#projet {
        .inner {
            .project-img {
                width: 50%;
                margin: auto;
            }
        }
    }



}

/* desktop || TV */
@media screen and (min-width: $large) {}